@using TheBugTracker.Data;
@inject UserManager<BTUser> _UserManager
@inject IBTFileService _FileService
@inject IBTTicketService _TicketService
@inject IBTProjectService _ProjectService
@inject IBTCompanyService _CompanyService
@inject ApplicationDbContext _context

@{
    string fullName = string.Empty;

    if (User.Identity!.IsAuthenticated)
    {
        fullName = (await _UserManager.GetUserAsync(User))?.FullName;

        if (fullName == null)
        {
            fullName = "Guest";
        }
    }

    BTUser btUser = await _UserManager.GetUserAsync(User);

    List<Ticket> tickets = new List<Ticket>();
    List<Project> projects = new List<Project>();

    if (btUser != null)
    {
        tickets = await _TicketService.GetAllTicketsByCompanyIdAsync(btUser.CompanyId);

        projects = await _ProjectService.GetAllProjectsByCompanyIdAsync(btUser.CompanyId);
    }
}

@section scripts{
    <!--Google Charts-->
    @*   <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            $.ajax({
                type: "POST",
                url: "/Home/GglProjectPriority",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var data = google.visualization.arrayToDataTable(result);

                    //3D Pie
                    var options = {
                        title: 'Project Priority',
                        is3D: true,
                        chartArea: { left: 0, bottom: 15, width: '100%', height: '100%' },
                        legend: { position: 'bottom' }

                    };

                    var chart = new google.visualization.PieChart($("#chart3D")[0]);
                    chart.draw(data, options);
                },
                failure: function (rresult) {
                    alert(result.d);
                },
                error: function (result) {
                    alert(result.d);
                }
            });
        }
    </script>
     <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            $.ajax({
                type: "POST",
                url: "/Home/GglProjectPriority",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var data = google.visualization.arrayToDataTable(result);

                    //Donut
                    var options = {
                        title: 'Company Ticket Distribution',
                        pieHole: 0.3,
                        chartArea: { left: 0, bottom: 15, width: '100%', height: '100%' },
                        legend: { position: 'bottom' }
                    };
                    var chart = new google.visualization.PieChart($("#donut")[0]);
                    chart.draw(data, options);
                },
                failure: function (rresult) {
                    alert(result.d);
                },
                error: function (result) {
                    alert(result.d);
                }
            });
        }
        *@
    </script>
}

<body class="dark">
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-icon"></div>
        <span>Loading...</span>
    </div>
            <!-- begin::navigation -->
            <!-- end::navigation -->
            <!-- Content body -->
            <div class="content-body">
                <!-- Content -->
                    <div class="page-header d-md-flex justify-content-between">
                        <div>
                            <h3>Welcome, @fullName</h3>
                            <p class="text-muted">This page shows an overview for your account summary.</p>
                        </div>
                        
        </div>


<!--
        <div class="card col m-1 p-2">
            <div class="card-body">
                <h5>Projects by Priority</h5>
                <p>[Google Charts]</p>
                <div id="chart3D"></div>
            </div>
        </div>
        <div class="card col m-1 p-2">
            <div class="card-body">
                <h5>Project Tickets Count (%)</h5>
                <p>[Google Charts]</p>
                <div id="donut"></div>
            </div>
        </div>

                -->


        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Recent Orders</h6>
                <div class="table-responsive">
                    <table id="recent-orders" class="table">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Created</th>
                                <th>Priority</th>
                                <th>Deadline</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (projects.Count() > 0)
                            {
                                int i = 1;
                                foreach (Project project in projects)
                                {
                                    if (i <= 5)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id" class="d-flex align-items-center">
                                                    <img width="40" src="@_FileService.ConvertByteArrayToFile(project.ImageFileData, project.ImageFileType, DefaultImage.ProjectImage)"
                                                    class="rounded mr-3" alt="Vase">
                                                    <span>@project.Name</span>
                                                </a>
                                            </td>
                                            <td>@project.Created</td>
                                            <td>
                                            @{
                                                int projectPriorityId = (await _ProjectService.GetProjectByIdAsync(project.Id, btUser.CompanyId)).ProjectPriorityId;

                                                switch (projectPriorityId)
                                                {
                                                    case 1:
                                                        <span class='badge bg-success-bright text-success'>Low</span>
                                                        break;
                                                    case 2:
                                                        <span class='badge bg-warning-bright text-warning'>Medium</span>
                                                        break;
                                                    case 3:
                                                        <span class='badge bg-secondary-bright text-secondary'>High</span>
                                                        break;
                                                    case 4:
                                                        <span class='badge bg-danger-bright text-danger'>Urgent</span>
                                                        break;
                                                    default:
                                                        <span class='badge bg-danger-bright text-danger'>Not Found</span>
                                                        break;
                                                }
                                            }
                                            </td>
                                            <td>@project.EndDate</td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Info Pills -->
        <div class="row mt-2">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a asp-action="AllProjects" asp-controller="Projects" style="text-decoration:none">
                    <div class="card text-center bg-info">
                        <div class="body">
                            <div class="p-15 text-light">
                                <h3>@_context.Projects.Where(p => p.StartDate < DateTime.UtcNow && p.EndDate > DateTime.UtcNow && p.CompanyId == btUser.CompanyId).Count()</h3>
                                <span>Active Projects</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a asp-action="AllTickets" asp-controller="Tickets" style="text-decoration:none">
                    <div class="card text-center bg-secondary">
                        <div class="body">
                            <div class="p-15 text-light">

                                <h3>@_context.Tickets.Where(t => t.Project.CompanyId == btUser.CompanyId).Count()</h3>
                                <span>Total Tickets</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card text-center bg-warning">
                    <div class="body">
                        <div class="p-15 text-light">
                            <h3>@_context.Tickets.Where(t => string.IsNullOrEmpty(t.DeveloperUserId) && t.Project.CompanyId == btUser.CompanyId).Count()</h3>
                            <span>Unassigned Tickets</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card text-center bg-dark">
                    <div class="body">
                        <div class="p-15 text-light">
                            <h3>
                                @(
                                    _context.Users.Where(u => u.CompanyId == btUser.CompanyId).Count()
                                    )
                            </h3>
                            <span>Users</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
</body>
</html>
